@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --green-light:hsl(148, 38%, 91%);
    --green-medium:hsl(169, 82%, 27%);
    --red:hsl(0, 66%, 54%);
    --grey-medium:hsl(186, 15%, 59%);
    --grey-dark:hsl(187, 24%, 22%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--green-light);
    font-family: "Karla";
}

main{
    background-color: white;
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 10px;
    max-width: 600px;
}
sup{
    color: var(--green-medium);
}
.name-section,.query-sub-container{
    display: flex;
    gap:20px;
}

.name-section > .first-name-section,.last-name-section{
    display: flex;
    flex-direction: column;

}

.email-section,.query-section,.message-section,.terms-condition-section{
    display: flex;
    flex-direction: column;
}



.error{
    
    color: var(--red);
}